<%= stylesheet_link_tag 'contact', media: 'all' %>

<div class="card form-container"> <!-- Adicione a classe 'form-container' aqui -->
  <div class="card-body">
    <h5 class="card-title">Contate-nos</h5>
    <%= form_with model: @contact, local: true do |form| %>
      <div class="mb-3">
        <%= form.label :name, class: 'form-label' %>
        <%= form.text_field :name, class: 'form-control', placeholder: 'Seu nome' %>
      </div>
      <div class="mb-3">
        <%= form.label :email, class: 'form-label' %>
        <%= form.email_field :email, class: 'form-control', placeholder: 'Seu email' %>
      </div>
      <div class="mb-3">
        <%= form.label :message, class: 'form-label' %>
        <%= form.text_area :message, class: 'form-control', placeholder: 'Sua mensagem', rows: 4 %>
      </div>
      <div class="text-center">
        <%= form.submit 'Enviar', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
