<%= form_with model: @car, local: true, html: { multipart: true } do |form| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "erro") %> impediram o registro deste carro:</h2>

      <ul>
        <% @car.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        
        <div class="mb-3">
          <%= form.label :Titulo, class: 'form-label' %>
          <%= form.text_field :title, class: 'form-control', required: true %>
        </div>
        
        <div class="mb-3">
          <%= form.label :Modelo, class: 'form-label' %>
          <%= form.text_field :model, class: 'form-control', required: true %>
        </div>

        <div class="mb-3">
          <%= form.label :Ano, class: 'form-label' %>
          <%= form.number_field :year, class: 'form-control', required: true %>
        </div>

        <div class="mb-3">
          <%= form.label :Marca, class: 'form-label' %>
          <%= form.text_field :make, class: 'form-control', required: true %>
        </div>  
       
        <div class="mb-3">
          <%= form.label :images, class: 'form-label' %>
          <input type="file" name="car[images][]" class="form-control" multiple="multiple" required>
        </div>

        <div class="mb-3">
          <%= form.label :Preço, class: 'form-label' %>
          <%= form.number_field :price, class: 'form-control', required: true %>
        </div>

        <div class="mb-3">
          <%= form.label :Descrição, class: 'form-label' %>
          <%= form.text_area :description, class: 'form-control' %>
        </div>

        <div class="text-center">
          <%= form.submit 'Salvar', class: 'btn btn-primary btn-sm  btn-site' %>
          <%= link_to 'Voltar', cars_path, class: 'btn btn-primary btn-sm  btn-site' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
