<!-- Adicione esta seção à sua página index.html.erb -->
<h1 class="mt-4">Lista de Carros</h1>

<div class="row">
  <% @cars.each do |car| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <%= link_to car do %>
          <% if car.thumbnail.present? %>
            <%= image_tag car.thumbnail %>
          <% else %>
            <%= image_tag 'logo.png', alt: 'Miniatura Padrão', style: 'width: 100px; height: 100px;' %>
          <% end %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= car.make %> <%= car.model %> (<%= car.year %>)</h5>
          <p class="card-text"><strong>Preço:</strong> <%= number_to_currency(car.price) %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="container">
  <!-- Pagination container above the footer -->
  <div class="pagination-container">
    <%= will_paginate @cars, previous_label: 'Anterior', next_label: 'Próximo', class: 'pagination' %>
  </div>
</div>
