<div class="container">
  <div class="container text-center mt-4"> <!-- Adicione a classe 'text-center' para centralizar o conteúdo -->
    <h3>Lista de Carros</h3>
  </div>  
  <div class="row mt-4">
      <% @cars.each do |car| %>
        <div class="col-md-3 mb-3">
          <div class="card text-center"> <!-- Adicione a classe 'text-center' para centralizar o conteúdo -->
            <%= link_to car do %>
              <div class="d-flex justify-content-center align-items-center image-container" style="height: 200px;">
                <% if car.thumbnail.present? %>
                  <%= image_tag car.thumbnail, class: 'img-fluid' %> <!-- Remova o ponto antes de 'image-container' e 'img' -->
                <% else %>
                  <%= image_tag 'logo.png', alt: 'Miniatura Padrão', style: 'width: 100px; height: 100px;' %>
                <% end %>
              </div>
            <% end %>
            <div class="card-body">
              <p class="card-text"><%= car.title %> </p>
              <p class="card-text"><strong>Preço:</strong> <%= number_to_currency(car.price) %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  <div class="container">
    <!-- Pagination container above the footer -->
    <div class="pagination-container">
      <%= will_paginate @cars, previous_label: 'Anterior', next_label: 'Próximo', class: 'pagination' %>
    </div>
  </div>
</div>
