<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="border border-primary p-4 rounded">
        <h1 class="mt-4">Detalhes do Carro</h1>

        <div class="mb-3">
          <strong>Fabricante:</strong>
          <%= @car.make %>
        </div>

        <div class="mb-3">
          <strong>Modelo:</strong>
          <%= @car.model %>
        </div>

        <div class="mb-3">
          <strong>Ano:</strong>
          <%= @car.year %>
        </div>

        <div class="mb-3">
          <strong>Preço:</strong>
          <%= number_to_currency(@car.price) %>
        </div>
      </div>

      <h1 class="mt-4">Imagens do Carro</h1>

      <!-- Adicione o carrossel aqui -->
      <% if @car.images.attached? %>
        <div id="carImageCarousel" class="carousel slide mt-4" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% @car.images.each_with_index do |image, index| %>
              <div class="carousel-item <%= 'active' if index.zero? %>">
                <%= image_tag image, class: 'img-fluid' %>
              </div>
            <% end %>
          </div>
          <!-- Adicione setas de navegação -->
          <a class="carousel-control-prev" href="#carImageCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </a>
          <a class="carousel-control-next" href="#carImageCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Próxima</span>
          </a>
        </div>
      <% else %>
        <p class="mt-4">Nenhuma imagem disponível</p>
      <% end %>
    </div>
  </div>
</div>
