<!DOCTYPE html>
<html>
<head>
  <title>Seu Aplicativo</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Adicione o link para o arquivo CSS do Bootstrap -->
  <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css' %>
  <!-- Adicione links para seus estilos CSS aqui, se necessário -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!-- Adicione o link para o arquivo JavaScript do Bootstrap (opcional) -->
  <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js' %>
  <!-- Adicione links para seus scripts JavaScript aqui, se necessário -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<!-- Menu Vertical -->
<nav class="navbar navbar-expand-lg header" style="z-index: 1000;">
  <div class="container">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to 'Início', root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Registro de Automóvel', new_car_path, class: 'nav-link' %>
      </li>
      <!-- Adicione mais itens de menu conforme necessário -->
    </ul>
  </div>
</nav>

<!-- Conteúdo principal -->
<div class="container-fluid">
  <div class="row">
    <!-- Conteúdo da página -->
    <div class="col-md-6 sidebar">
        <!-- Adicione mais itens de menu conforme necessário -->
      </ul>
    </div>
    <div class="col-md-12">
      <!-- Conteúdo da página principal -->
      <%= yield %>
    </div>
  </div>
</div>

<!-- Rodapé (Footer) -->
<footer class="footer custom-footer" style="z-index: 1000;">
  <div class="container">
    <p>&copy; <%= Time.now.year %> Top Multimarcas</p>
  </div>
</footer>

</body>
</html>
