<!DOCTYPE html>
<html>
<head>
  <title>Seu Aplicativo</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Adicione o link para o arquivo CSS do Bootstrap -->
  <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css' %>
  <!-- Adicione links para seus estilos CSS aqui, se necessário -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!-- Adicione o link para o arquivo JavaScript do Bootstrap (opcional) -->
  <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js' %>
  <!-- Adicione links para seus scripts JavaScript aqui, se necessário -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<nav class="navbar navbar-expand-lg header" style="z-index: 1000;">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag 'logo.png', alt: 'Logo', class: 'logo-small mt-2 ml-2' %> <!-- Adicione as classes 'mt-2' e 'ml-2' para adicionar margens superior e esquerda -->
    <% end %>
    
    <ul class="navbar-nav ml-3"> <!-- Adicione uma margem à esquerda para separar o logo das opções de menu -->
      <li class="nav-item">
        <%= link_to 'Início', root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Registro de Automóvel', new_car_path, class: 'nav-link' %>
      </li>
      <!-- Adicione mais itens de menu conforme necessário -->
    </ul>
</nav>

<!-- Conteúdo principal -->
<div class="container-fluid">
  <div class="row">
    <!-- Menu vertical à esquerda -->
    <div class="col-md-2 sidebar" style="z-index: 1;"> <!-- Ajuste o z-index para 1 -->
      <%= render partial: 'layouts/vertical_menu' %>
    </div>

    <!-- Conteúdo principal no centro -->
    <div class="col-md-10" style="margin-top: 20px;">
      <%= yield %>
    </div>
  </div>
</div>

<!-- Rodapé (Footer) -->
<footer class="footer custom-footer" style="z-index: 1000;"> <!-- Ajuste o z-index para 2 -->
  <div class="container">
    <p>&copy; <%= Time.now.year %> Top Multimarcas</p>
  </div>
</footer>

</body>
</html>

<div class="whatsapp-button">
  <%= render 'layouts/whatsapp_balloon' %>
</div>

